@import "tailwindcss";

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

body {
    background: linear-gradient(-45deg, #eaddff, #d1e4ff, #ffd8e4, #e8def8);
    background-size: 400% 400%;
    animation: gradient-animation 25s ease infinite;
}